In [1]:
import pandas as pd
print(f'pandas version: {pd.__version__}')

pandas version: 2.2.1

In [2]:
url='https://github.com/prasertcbs/basic-dataset/raw/master/mpg30.csv'
df=pd.read_csv(url)
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  30 non-null     object
 1   model         30 non-null     object
 2   displ         30 non-null     float64
 3   year          30 non-null     int64
 4   cyl           30 non-null     int64
 5   trans         30 non-null     object
 6   drv           30 non-null     object
 7   cty           30 non-null     int64
 8   hwy           30 non-null     int64
 9   fl            30 non-null     object
 10  class         30 non-null     object
dtypes: float64(1), int64(4), object(6)
memory usage: 2.7+ KB

In [10]:
df.memory_usage(deep=True)

Index            132
manufacturer    1889
model           2040
displ            240
year             240
cyl              240
trans           1966
drv             1740
cty              240
hwy              240
fl              1740
class           1890
dtype: int64

In [3]:
df.query('displ>3')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup

In [4]:
df.query('displ>4')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv

In [6]:
df.query('4<displ<6')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv

In [7]:
df.query('(4<displ<6)&(hwy<17)')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup

In [12]:
df.query('manufacturer =="toyota"|manufacturer =="honda"')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [17]:
df.query('manufacturer in ["toyota","honda"]')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [23]:
df.query('manufacturer not in ["toyota","honda"]')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [20]:
df[df.manufacturer.isin(['toyota','honda'])]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [21]:
df.loc[df.manufacturer.isin(['toyota','honda'])]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [19]:
df.manufacturer.isin(['toyota','honda'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27     True
28    False
29    False
Name: manufacturer, dtype: bool

In [21]:
df[~ df.manufacturer.isin(['toyota','honda'])]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [14]:
df.manufacturer.unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'nissan', 'pontiac', 'subaru', 'toyota',
       'volkswagen'], dtype=object)

In [18]:
df.manufacturer.nunique()

13

In [28]:
df.query('manufacturer.str.startswith("f")')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact

In [33]:
df.manufacturer.str.match('[a]')

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: manufacturer, dtype: bool

In [34]:
df[df.manufacturer.str.match('[a]')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact

In [35]:
df.manufacturer.str.match('[af]')

0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: manufacturer, dtype: bool

In [37]:
df[df.manufacturer.str.match('[af]')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact

In [38]:
df[df.manufacturer.str.match('[^af]')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
19,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv
20,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv
21,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
22,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
23,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
24,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
25,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv
26,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv
28,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
29,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize

In [41]:
df[df.manufacturer.str.match('[c-f]')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
3,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
5,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
6,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
7,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
8,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
9,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
10,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan
11,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv
12,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
13,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup
15,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact

In [42]:
df[df.model.str.match(r'\d')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [43]:
df[df.model.str.match(r'a\d')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact

In [44]:
df[df.model.str.match(r'\w\d')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup

In [49]:
df[df.model.str.match(r'\w+\d')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
1,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
2,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
4,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
14,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup

In [50]:
df[df.model.str.match(r'\d+')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
27,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv

In [60]:
df[df.model.str.match('.i')]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
16,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
17,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
18,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact