In [45]:
import pandas as pd

In [123]:
df=pd.read_csv('https://raw.githubusercontent.com/prasertcbs/tutorial/master/mpg.csv')      #dataframe
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [47]:
df['type']=df.trans.str[0]

In [48]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,a
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,a
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,m
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,a
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,m
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,a

In [49]:
df['class'].unique()

array(['compact', 'midsize', 'suv', '2seater', 'minivan', 'pickup',
       'subcompact'], dtype=object)

In [50]:
df.fl.unique()

array(['p', 'r', 'e', 'd', 'c'], dtype=object)

In [51]:
df.fl.nunique()

5

In [52]:
df.select_dtypes(include='number')

     displ  year  cyl  cty  hwy
0      1.8  1999    4   18   29
1      1.8  1999    4   21   29
2      2.0  2008    4   20   31
3      2.0  2008    4   21   30
4      2.8  1999    6   16   26
..     ...   ...  ...  ...  ...
229    2.0  2008    4   19   28
230    2.0  2008    4   21   29
231    2.8  1999    6   16   26
232    2.8  1999    6   18   26
233    3.6  2008    6   17   26

[234 rows x 5 columns]

In [53]:
df.select_dtypes(include='number')

     displ  year  cyl  cty  hwy
0      1.8  1999    4   18   29
1      1.8  1999    4   21   29
2      2.0  2008    4   20   31
3      2.0  2008    4   21   30
4      2.8  1999    6   16   26
..     ...   ...  ...  ...  ...
229    2.0  2008    4   19   28
230    2.0  2008    4   21   29
231    2.8  1999    6   16   26
232    2.8  1999    6   18   26
233    3.6  2008    6   17   26

[234 rows x 5 columns]

In [54]:
df.describe().round(2).T

       count     mean   std     min     25%     50%     75%     max
displ  234.0     3.47  1.29     1.6     2.4     3.3     4.6     7.0
year   234.0  2003.50  4.51  1999.0  1999.0  2003.5  2008.0  2008.0
cyl    234.0     5.89  1.61     4.0     4.0     6.0     8.0     8.0
cty    234.0    16.86  4.26     9.0    14.0    17.0    19.0    35.0
hwy    234.0    23.44  5.95    12.0    18.0    24.0    27.0    44.0

In [55]:
df.corr(numeric_only=True).round(3).style.background_gradient(axis=1).highlight_min(axis=1, color='pink' )

In [56]:
df.corr(numeric_only=True).round(3).style.background_gradient(axis=1, vmin =0.5).highlight_min(axis=1, color='pink')

In [57]:
df.corr(numeric_only=True).round(3).style.background_gradient(axis=1, vmin =0.5).highlight_min(axis=1, color='pink')

In [58]:
df.nlargest(5,columns='hwy')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,m
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,m
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,a
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,m
105,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,a

In [59]:
df.sample(5)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,a
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,a
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,m
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,a
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,a

In [62]:
df[df.manufacturer.isin(['toyot','subaru'])].head(5)   # isin >>> need exact name

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,m
160,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,a
161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv,m
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv,m
163,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,a

another command use 'match' and used RegEx

In [61]:
df[df.manufacturer.str.contains('toyot|subaru', case=False)] # contain :  able to match some part

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,m
160,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,a
161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv,m
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv,m
163,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,a
164,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv,a
165,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,a
166,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact,m
167,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact,m
168,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,a
169,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,a
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,a
171,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,m
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,m
173,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv,m
174,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,a
175,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,a
176,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv,m
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,a
178,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,a
179,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize,m
180,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,a
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize,m
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize,a
183,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,a
184,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize,m
185,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize,a
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,a
187,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,m
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,m
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,a
190,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,a
191,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,m
192,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,a
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,a
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,a
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,m
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,m
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,a
198,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,a
199,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv,a
200,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup,m
201,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,a
202,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup,m
203,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup,m
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,a
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup,m
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,a

In [64]:
df.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class', 'type'],
      dtype='object')

In [68]:
df.drop([2])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,a
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,m
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,a
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,m
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,a
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,m
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,a

In [69]:
df.index[3:5]

RangeIndex(start=3, stop=5, step=1)

In [70]:
df.drop(df.index[3:5])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,m
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,m
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,a
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,a
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,m
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,a
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,m
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,a

In [79]:
# df.manufacturer == 'audi'
df[df.manufacturer == 'audi']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,a
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,m
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,a
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,m
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,a
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,m
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,a
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,a
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,m
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,a
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,m
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,a
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,a
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,a

In [84]:
# df.manufacturer == 'audi'
# df.manufacturer != 'audi'
df[df.manufacturer != 'audi']
# df[df.manufacturer == 'audi']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,type
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,a
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,a
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,a
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,a
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,a
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,a
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,m
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,a
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,m
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,a

In [85]:
df.drop(['manufacturer'],axis=1)

      model  displ  year  cyl       trans drv  cty  hwy fl    class type
0        a4    1.8  1999    4    auto(l5)   f   18   29  p  compact    a
1        a4    1.8  1999    4  manual(m5)   f   21   29  p  compact    m
2        a4    2.0  2008    4  manual(m6)   f   20   31  p  compact    m
3        a4    2.0  2008    4    auto(av)   f   21   30  p  compact    a
4        a4    2.8  1999    6    auto(l5)   f   16   26  p  compact    a
..      ...    ...   ...  ...         ...  ..  ...  ... ..      ...  ...
229  passat    2.0  2008    4    auto(s6)   f   19   28  p  midsize    a
230  passat    2.0  2008    4  manual(m6)   f   21   29  p  midsize    m
231  passat    2.8  1999    6    auto(l5)   f   16   26  p  midsize    a
232  passat    2.8  1999    6  manual(m5)   f   18   26  p  midsize    m
233  passat    3.6  2008    6    auto(s6)   f   17   26  p  midsize    a

[234 rows x 11 columns]

In [86]:
df.drop(['manufacturer','year'],axis=1)

      model  displ  cyl       trans drv  cty  hwy fl    class type
0        a4    1.8    4    auto(l5)   f   18   29  p  compact    a
1        a4    1.8    4  manual(m5)   f   21   29  p  compact    m
2        a4    2.0    4  manual(m6)   f   20   31  p  compact    m
3        a4    2.0    4    auto(av)   f   21   30  p  compact    a
4        a4    2.8    6    auto(l5)   f   16   26  p  compact    a
..      ...    ...  ...         ...  ..  ...  ... ..      ...  ...
229  passat    2.0    4    auto(s6)   f   19   28  p  midsize    a
230  passat    2.0    4  manual(m6)   f   21   29  p  midsize    m
231  passat    2.8    6    auto(l5)   f   16   26  p  midsize    a
232  passat    2.8    6  manual(m5)   f   18   26  p  midsize    m
233  passat    3.6    6    auto(s6)   f   17   26  p  midsize    a

[234 rows x 10 columns]

In [90]:
df.drop(['manufacturer','year'],axis=1, inplace=True)

In [91]:
df

      model  displ  cyl       trans drv  cty  hwy fl    class type
0        a4    1.8    4    auto(l5)   f   18   29  p  compact    a
1        a4    1.8    4  manual(m5)   f   21   29  p  compact    m
2        a4    2.0    4  manual(m6)   f   20   31  p  compact    m
3        a4    2.0    4    auto(av)   f   21   30  p  compact    a
4        a4    2.8    6    auto(l5)   f   16   26  p  compact    a
..      ...    ...  ...         ...  ..  ...  ... ..      ...  ...
229  passat    2.0    4    auto(s6)   f   19   28  p  midsize    a
230  passat    2.0    4  manual(m6)   f   21   29  p  midsize    m
231  passat    2.8    6    auto(l5)   f   16   26  p  midsize    a
232  passat    2.8    6  manual(m5)   f   18   26  p  midsize    m
233  passat    3.6    6    auto(s6)   f   17   26  p  midsize    a

[234 rows x 10 columns]

In [109]:
df.rename(columns={'model':'Model','displ':'Displ'}, inplace= True)
df

,manufacturer,Model,Displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [101]:
df.columns = df.columns.str.lower()  #replace at level 'column' , left side need to be df.columns
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [110]:
df.columns

Index(['manufacturer', 'Model', 'Displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [111]:
df.columns.str.replace('Ma','ma')

Index(['manufacturer', 'Model', 'Displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [118]:
df.columns = df.columns.str.replace('C','c')
df.head(3)

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact

In [120]:
df.columns = df.columns.str.lower().str.replace('h','Z')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,Zwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [122]:
df.index.names

FrozenList([None])

In [125]:
df.sort_values('manufacturer',ascending =False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact

In [127]:
df.sort_values(['manufacturer','model'],ascending =[True,False])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact

In [128]:
df.sort_values(['manufacturer','model'],ascending =[True,True])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [130]:
df.sort_index(ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
...,...,...,...,...,...,...,...,...,...,...,...
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact

In [132]:
df.sort_index(axis=1)

,class,cty,cyl,displ,drv,fl,hwy,manufacturer,model,trans,year
0,compact,18,4,1.8,f,p,29,audi,a4,auto(l5),1999
1,compact,21,4,1.8,f,p,29,audi,a4,manual(m5),1999
2,compact,20,4,2.0,f,p,31,audi,a4,manual(m6),2008
3,compact,21,4,2.0,f,p,30,audi,a4,auto(av),2008
4,compact,16,6,2.8,f,p,26,audi,a4,auto(l5),1999
...,...,...,...,...,...,...,...,...,...,...,...
229,midsize,19,4,2.0,f,p,28,volkswagen,passat,auto(s6),2008
230,midsize,21,4,2.0,f,p,29,volkswagen,passat,manual(m6),2008
231,midsize,16,6,2.8,f,p,26,volkswagen,passat,auto(l5),1999
232,midsize,18,6,2.8,f,p,26,volkswagen,passat,manual(m5),1999
233,midsize,17,6,3.6,f,p,26,volkswagen,passat,auto(s6),2008

In [133]:
df.sort_index(axis=1, ascending=False)

,year,trans,model,manufacturer,hwy,fl,drv,displ,cyl,cty,class
0,1999,auto(l5),a4,audi,29,p,f,1.8,4,18,compact
1,1999,manual(m5),a4,audi,29,p,f,1.8,4,21,compact
2,2008,manual(m6),a4,audi,31,p,f,2.0,4,20,compact
3,2008,auto(av),a4,audi,30,p,f,2.0,4,21,compact
4,1999,auto(l5),a4,audi,26,p,f,2.8,6,16,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,2008,auto(s6),passat,volkswagen,28,p,f,2.0,4,19,midsize
230,2008,manual(m6),passat,volkswagen,29,p,f,2.0,4,21,midsize
231,1999,auto(l5),passat,volkswagen,26,p,f,2.8,6,16,midsize
232,1999,manual(m5),passat,volkswagen,26,p,f,2.8,6,18,midsize
233,2008,auto(s6),passat,volkswagen,26,p,f,3.6,6,17,midsize